# Target Config
CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv8=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_nsy_g68-plus=y

# Set Firmware Size
CONFIG_TARGET_KERNEL_PARTSIZE=64
CONFIG_TARGET_ROOTFS_PARTSIZE=960

# Firmware Type
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
#CONFIG_TARGET_ROOTFS_SQUASHFS=y

CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_PACKAGE_kmod-nls-cp936=y

CONFIG_PACKAGE_apk-openssl=y
CONFIG_PACKAGE_libustream-openssl=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_luci-ssl-openssl=y

CONFIG_PACKAGE_kmod-ppp=y
CONFIG_PACKAGE_kmod-mppe=y
CONFIG_PACKAGE_kmod-pppox=y
CONFIG_PACKAGE_kmod-pppoe=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_ppp=y
# CONFIG_PACKAGE_ppp-mod-passwordfd is not set
# CONFIG_PACKAGE_ppp-mod-pppoa is not set
CONFIG_PACKAGE_ppp-mod-pppoe=y

# File System Drivers
CONFIG_PACKAGE_kmod-fs-autofs4=y
CONFIG_PACKAGE_kmod-fs-btrfs=y
CONFIG_PACKAGE_kmod-fs-cifs=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-exportfs=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-f2fs=y
CONFIG_PACKAGE_kmod-fs-hfs=y
CONFIG_PACKAGE_kmod-fs-hfsplus=y
CONFIG_PACKAGE_kmod-fs-isofs=y
CONFIG_PACKAGE_kmod-fs-msdos=y
CONFIG_PACKAGE_kmod-fs-nfs=y
CONFIG_PACKAGE_kmod-fs-nfs-common=y
CONFIG_PACKAGE_kmod-fs-nfs-common-rpcsec=y
CONFIG_PACKAGE_kmod-fs-nfs-v3=y
CONFIG_PACKAGE_kmod-fs-nfs-v4=y
CONFIG_PACKAGE_kmod-fs-nfsd=y
CONFIG_PACKAGE_kmod-fs-ntfs3=y
CONFIG_PACKAGE_kmod-fs-smbfs-common=y
CONFIG_PACKAGE_kmod-fs-squashfs=y
CONFIG_PACKAGE_kmod-fs-udf=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-fs-xfs=y
CONFIG_PACKAGE_kmod-fuse=y
CONFIG_PACKAGE_kmod-fs-ksmbd=y

# USB Storage Drivers
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-printer=y
CONFIG_PACKAGE_kmod-usb-roles=y
CONFIG_PACKAGE_kmod-usb-serial-ch341=y
CONFIG_PACKAGE_kmod-usb-serial-cp210x=y
CONFIG_PACKAGE_kmod-usb-serial-ftdi=y
CONFIG_PACKAGE_kmod-usb-serial-ipw=y
CONFIG_PACKAGE_kmod-usb-serial-pl2303=y
CONFIG_PACKAGE_kmod-usb-serial-qualcomm=y
CONFIG_PACKAGE_kmod-usb-serial-sierrawireless=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_kmod-usb-uhci=y
CONFIG_PACKAGE_kmod-usb-wdm=y
CONFIG_PACKAGE_kmod-usb-xhci-hcd=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-usbip=y
CONFIG_PACKAGE_kmod-usbip-client=y
CONFIG_PACKAGE_kmod-usbip-server=y
CONFIG_PACKAGE_kmod-usbmon=y

# USB Net Drivers
CONFIG_PACKAGE_kmod-usb-audio=y
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-dwc2=y
CONFIG_PACKAGE_kmod-usb-dwc3=y
CONFIG_PACKAGE_kmod-usb-ehci=y
CONFIG_PACKAGE_kmod-usb-hid=y
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_kmod-usb-net-asix=y
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=y
CONFIG_PACKAGE_kmod-usb-net-cdc-eem=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-usb-net-cdc-mbim=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-cdc-subset=y
CONFIG_PACKAGE_kmod-usb-net-dm9601-ether=y
CONFIG_PACKAGE_kmod-usb-net-hso=y
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-ipheth=y
CONFIG_PACKAGE_kmod-usb-net-kalmia=y
CONFIG_PACKAGE_kmod-usb-net-kaweth=y
CONFIG_PACKAGE_kmod-usb-net-mcs7830=y
CONFIG_PACKAGE_kmod-usb-net-pegasus=y
CONFIG_PACKAGE_kmod-usb-net-pl=y
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-net-rtl8150=y
CONFIG_PACKAGE_kmod-usb-net-rtl8152=y
CONFIG_PACKAGE_kmod-usb-net-sierrawireless=y
CONFIG_PACKAGE_kmod-usb-net-smsc95xx=y
CONFIG_PACKAGE_kmod-usb-net-sr9700=y



CONFIG_DEFAULT_kmod-nf-nathelper=y
CONFIG_DEFAULT_kmod-nf-nathelper-extra=y
CONFIG_DEFAULT_kmod-nft-offload=y
CONFIG_PACKAGE_kmod-ip6tables=y
CONFIG_PACKAGE_kmod-arptables=y

CONFIG_PACKAGE_kmod-leds-gpio=y
CONFIG_PACKAGE_kmod-button-hotplug=y

# CONFIG_PACKAGE_kmod-cfg80211 is not set
# CONFIG_PACKAGE_kmod-mac80211 is not set
# CONFIG_PACKAGE_MAC80211_DEBUGFS is not set
# CONFIG_PACKAGE_MAC80211_MESH is not set
# CONFIG_PACKAGE_kmod-mt76-connac is not set
# CONFIG_PACKAGE_kmod-mt76-core is not set
# CONFIG_PACKAGE_wifi-scripts is not set
# CONFIG_PACKAGE_kmod-mt7915e is not set
# CONFIG_PACKAGE_kmod-mt7916-firmware is not set

CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_wireless-tools=y
CONFIG_PACKAGE_wireless-regdb=y
# CONFIG_PACKAGE_kmod-mac80211-hwsim is not set
# CONFIG_PACKAGE_kmod-mt76 is not set


# Applications

CONFIG_PACKAGE_kmod-switch-rtl8367b=y
CONFIG_PACKAGE_swconfig=y
# CONFIG_PACKAGE_kmod-dsa is not set
# CONFIG_PACKAGE_kmod-phy-realtek is not set
# CONFIG_PACKAGE_kmod-dsa-realtek is not set
# CONFIG_PACKAGE_kmod-dsa-rtl8365mb is not set
CONFIG_PACKAGE_openssh-sftp-server=y

# CONFIG_PACKAGE_hostapd is not set
CONFIG_PACKAGE_hostapd-common=y
CONFIG_WPA_MBO_SUPPORT=y
CONFIG_WPA_MSG_MIN_PRIORITY=3

CONFIG_PACKAGE_wpad-openssl=y
# CONFIG_DRIVER_11AC_SUPPORT is not set
# CONFIG_DRIVER_11AX_SUPPORT is not set
# CONFIG_DRIVER_11BE_SUPPORT is not set


CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y
CONFIG_PACKAGE_luci-i18n-firewall-zh-cn=y
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_luci-i18n-samba4-zh-cn=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-i18n-upnp-zh-cn=y
CONFIG_PACKAGE_luci-app-https-dns-proxy=y
CONFIG_PACKAGE_luci-i18n-https-dns-proxy-zh-cn=y
CONFIG_PACKAGE_luci-app-adblock=y
CONFIG_PACKAGE_luci-i18n-adblock-zh-cn=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-i18n-wol-zh-cn=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_zerotier=y
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-i18n-zerotier-zh-cn=y

CONFIG_PACKAGE_kmod-oaf=y
CONFIG_PACKAGE_luci-app-oaf=y
CONFIG_PACKAGE_luci-i18n-oaf-zh-cn=y

CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_ca-certificates=y

# ignore compile warn
# CONFIG_KERNEL_WERROR is not set

CONFIG_IB=y
CONFIG_IB_STANDALONE=y
CONFIG_SDK=y


#
# MTK Properties
#

#
# Applications
#
CONFIG_PACKAGE_luci-app-mtk=y
CONFIG_PACKAGE_luci-i18n-mtk-zh-cn=y
CONFIG_PACKAGE_datconf=y
CONFIG_PACKAGE_datconf-lua=y
# end of Applications

#
# Drivers
#
CONFIG_PACKAGE_kmod-mt_wifi=y
CONFIG_MTK_SUPPORT_OPENWRT=y
CONFIG_MTK_WIFI_DRIVER=y
# CONFIG_MTK_FIRST_IF_NONE is not set
# CONFIG_MTK_FIRST_IF_MT7615E is not set
# CONFIG_MTK_FIRST_IF_MT7622 is not set
# CONFIG_MTK_FIRST_IF_MT7626 is not set
# CONFIG_MTK_FIRST_IF_AXE is not set
# CONFIG_MTK_FIRST_IF_MT7915 is not set
# CONFIG_MTK_FIRST_IF_MT7986 is not set
CONFIG_MTK_FIRST_IF_MT7916=y
# CONFIG_MTK_FIRST_IF_MT7981 is not set
CONFIG_MTK_SECOND_IF_NONE=y
# CONFIG_MTK_SECOND_IF_MT7615E is not set
# CONFIG_MTK_SECOND_IF_AXE is not set
# CONFIG_MTK_SECOND_IF_MT7915 is not set
# CONFIG_MTK_SECOND_IF_MT7916 is not set
CONFIG_MTK_THIRD_IF_NONE=y
# CONFIG_MTK_THIRD_IF_MT7615E is not set
# CONFIG_MTK_THIRD_IF_MT7915 is not set
# CONFIG_MTK_THIRD_IF_MT7916 is not set
CONFIG_MTK_RT_FIRST_IF_RF_OFFSET=0xc0000
CONFIG_MTK_MT_WIFI=m
CONFIG_MTK_MT_WIFI_PATH="mt_wifi"

#
# WiFi Generic Feature Options
#
CONFIG_MTK_FIRST_IF_EEPROM_FLASH=y
# CONFIG_MTK_FIRST_IF_EEPROM_PROM is not set
# CONFIG_MTK_FIRST_IF_EEPROM_EFUSE is not set
CONFIG_MTK_RT_FIRST_CARD_EEPROM="flash"
CONFIG_MTK_WIFI_BASIC_FUNC=y
CONFIG_MTK_DOT11_N_SUPPORT=y
CONFIG_MTK_DOT11_VHT_AC=y
CONFIG_MTK_DOT11_HE_AX=y
CONFIG_MTK_CFG_SUPPORT_FALCON_MURU=y
CONFIG_MTK_CFG_SUPPORT_FALCON_TXCMD_DBG=y
CONFIG_MTK_CFG_SUPPORT_FALCON_SR=y
CONFIG_MTK_CFG_SUPPORT_FALCON_PP=y
CONFIG_MTK_WIFI_TWT_SUPPORT=y
CONFIG_MTK_G_BAND_256QAM_SUPPORT=y
# CONFIG_MTK_BRCM_256QAM_SUPPORT is not set
# CONFIG_MTK_VHT_TXBF_2G_EPIGRAM_IE_SUPPORT is not set
CONFIG_MTK_TPC_SUPPORT=y
CONFIG_MTK_ICAP_SUPPORT=y
CONFIG_MTK_SPECTRUM_SUPPORT=y
CONFIG_MTK_PHY_ICS_SUPPORT=y
CONFIG_MTK_BACKGROUND_SCAN_SUPPORT=y
CONFIG_MTK_SMART_CARRIER_SENSE_SUPPORT=y
# CONFIG_MTK_THERMAL_PROTECT_SUPPORT is not set
# CONFIG_MTK_SCS_FW_OFFLOAD is not set
CONFIG_MTK_MT_DFS_SUPPORT=y
CONFIG_MTK_OFFCHANNEL_SCAN_FEATURE=y
CONFIG_MTK_HDR_TRANS_TX_SUPPORT=y
CONFIG_MTK_HDR_TRANS_RX_SUPPORT=y
CONFIG_MTK_DBDC_MODE=y
# CONFIG_MTK_MULTI_PROFILE_SUPPORT is not set
# CONFIG_MTK_DEFAULT_5G_PROFILE is not set
CONFIG_MTK_WSC_INCLUDED=y
CONFIG_MTK_WSC_V2_SUPPORT=y
CONFIG_MTK_DOT11W_PMF_SUPPORT=y
CONFIG_MTK_TXBF_SUPPORT=y
# CONFIG_MTK_FAST_NAT_SUPPORT is not set
# CONFIG_MTK_WIFI_SKB_USES_SLAB is not set
# CONFIG_MTK_FTM_SUPPORT is not set
CONFIG_MTK_IGMP_SNOOP_SUPPORT=y
# CONFIG_MTK_MEMORY_SHRINK is not set
CONFIG_MTK_RTMP_FLASH_SUPPORT=y
# CONFIG_MTK_PRE_CAL_TRX_SET1_SUPPORT is not set
# CONFIG_MTK_RLM_CAL_CACHE_SUPPORT is not set
# CONFIG_MTK_PRE_CAL_TRX_SET2_SUPPORT is not set
CONFIG_MTK_CAL_BIN_FILE_SUPPORT=y
# CONFIG_MTK_RF_LOCKDOWN_SUPPORT is not set
# CONFIG_MTK_LINK_TEST_SUPPORT is not set
CONFIG_MTK_ATE_SUPPORT=y
CONFIG_MTK_WLAN_SERVICE=y
# CONFIG_MTK_PASSPOINT_R2 is not set
CONFIG_MTK_MBO_SUPPORT=y
# CONFIG_MTK_WTBL_TDD_SUPPORT is not set
# CONFIG_MTK_SW_CONNECT_SUPPORT is not set
CONFIG_MTK_MAP_SUPPORT=y
# CONFIG_MTK_MAP_R2_VER_SUPPORT is not set
# CONFIG_MTK_MAP_R2_6E_SUPPORT is not set
CONFIG_MTK_UAPSD=y
# CONFIG_MTK_TCP_RACK_SUPPORT is not set
CONFIG_MTK_RED_SUPPORT=y
# CONFIG_MTK_CTXD_MEM_CPY_SUPPORT is not set
# CONFIG_MTK_CTXD_SCATTER_AND_GATHER_SUPPORT is not set
# CONFIG_MTK_FDB_SUPPORT is not set
# CONFIG_MTK_FIRST_IF_EPAELNA is not set
CONFIG_MTK_FIRST_IF_IPAILNA=y
# CONFIG_MTK_FIRST_IF_IPAELNA is not set
CONFIG_MTK_WIFI_FW_BIN_LOAD=y
# CONFIG_MTK_RLT_MAC is not set
# CONFIG_MTK_RTMP_MAC is not set
# end of WiFi Generic Feature Options

#
# WiFi Operation Modes
#
CONFIG_MTK_WIFI_MODE_AP=m
# CONFIG_MTK_WIFI_MODE_STA is not set
# CONFIG_MTK_WIFI_MODE_BOTH is not set
CONFIG_MTK_MT_AP_SUPPORT=m
CONFIG_MTK_WDS_SUPPORT=y
CONFIG_MTK_MBSS_SUPPORT=y
CONFIG_MTK_APCLI_SUPPORT=y
# CONFIG_MTK_APCLI_CERT_SUPPORT is not set
# CONFIG_MTK_MAC_REPEATER_SUPPORT is not set
# CONFIG_MTK_APCLI_CONNECTION_TRIAL is not set
# CONFIG_MTK_MWDS is not set
# CONFIG_MTK_WIFI_SYSDVT is not set
CONFIG_MTK_MUMIMO_SUPPORT=y
CONFIG_MTK_MU_RA_SUPPORT=y
CONFIG_MTK_DOT11R_FT_SUPPORT=y
CONFIG_MTK_DOT11K_RRM_SUPPORT=y
# CONFIG_MTK_ENTERPRISE_AP_SUPPORT is not set
CONFIG_MTK_MLME_MULTI_QUEUE_SUPPORT=y
CONFIG_MTK_WIFI_EAP_FEATURE=y
CONFIG_MTK_VLAN_SUPPORT=y
# CONFIG_MTK_SNIFFER_SUPPORT is not set
# CONFIG_MTK_HIGHPRI_RATE_SPECIFIC is not set
# CONFIG_MTK_SNIFFER_RADIOTAP_SUPPORT is not set
# CONFIG_MTK_WF_RESET_SUPPORT is not set
# CONFIG_MTK_TXRX_STAT_SUPPORT is not set
CONFIG_MTK_ANTENNA_CONTROL_SUPPORT=y
CONFIG_MTK_MGMT_TXPWR_CTRL=y
# CONFIG_MTK_TXD_MGMT_TXPWR_CTRL is not set
# CONFIG_MTK_CHUTIL_SUPPORT is not set
# CONFIG_MTK_NF_SUPPORT is not set
CONFIG_MTK_RA_PHY_RATE_SUPPORT=y
CONFIG_MTK_AMPDU_CONF_SUPPORT=y
CONFIG_MTK_ACK_CTS_TIMEOUT_SUPPORT=y
CONFIG_MTK_MBSS_DTIM_SUPPORT=y
# CONFIG_MTK_ZERO_LOSS_CSA_SUPPORT is not set
# CONFIG_MTK_CFG80211_SUPPORT is not set
# CONFIG_MTK_DBDC_ONE_BAND_SUPPORT is not set
# CONFIG_MTK_MBSS_AS_WDS_AP_SUPPORT is not set
# CONFIG_MTK_DSCP_QOS_MAP_SUPPORT is not set
CONFIG_MTK_QOS_R1_SUPPORT=y
# CONFIG_MTK_DSCP_PRI_SUPPORT is not set
# CONFIG_MTK_MIN_PHY_RATE_SUPPORT is not set
# CONFIG_MTK_FAST_UP_RATE_SUPPORT is not set
CONFIG_MTK_CON_WPS_SUPPORT=y
CONFIG_MTK_MCAST_RATE_SPECIFIC=y
CONFIG_MTK_VOW_SUPPORT=y
# CONFIG_MTK_BAND_STEERING is not set
# CONFIG_MTK_LED_CONTROL_SUPPORT is not set
CONFIG_MTK_WLAN_HOOK=y
# CONFIG_MTK_RADIUS_ACCOUNTING_SUPPORT is not set
CONFIG_MTK_GREENAP_SUPPORT=y
# CONFIG_MTK_WIFI_CSI_CN_INFO_SUPPORT is not set
# CONFIG_MTK_6G_AFC_SUPPORT is not set
# CONFIG_MTK_VENDOR_FEATURE11_SUPPORT is not set
# CONFIG_MTK_PCIE_ASPM_DYM_CTRL_SUPPORT is not set
# CONFIG_MTK_COEX_SUPPORT is not set
# CONFIG_MTK_EASY_SETUP_SUPPORT is not set
# CONFIG_MTK_EVENT_NOTIFIER_SUPPORT is not set
CONFIG_MTK_AIR_MONITOR=y
CONFIG_MTK_WNM_SUPPORT=y
CONFIG_MTK_INTERWORKING=y
# CONFIG_MTK_LINUX_NET_TXQ_SUPPORT is not set
CONFIG_MTK_WPA3_SUPPORT=y
CONFIG_MTK_OWE_SUPPORT=y
# CONFIG_MTK_SINGLE_SKU is not set
# CONFIG_MTK_PROFILING_SUPPORT is not set
# CONFIG_MTK_6G_SUPPORT is not set
# end of WiFi Operation Modes

CONFIG_MTK_WIFI_MT_MAC=y
CONFIG_MTK_MT_MAC=y
# CONFIG_MTK_CHIP_MT7603E is not set
# CONFIG_MTK_CHIP_MT7615E is not set
# CONFIG_MTK_CHIP_MT7622 is not set
# CONFIG_MTK_CHIP_MT7663E is not set
# CONFIG_MTK_CHIP_MT7626 is not set
# CONFIG_MTK_CHIP_AXE is not set
# CONFIG_MTK_CHIP_MT7915 is not set
# CONFIG_MTK_CHIP_MT7986 is not set
CONFIG_MTK_CHIP_MT7916=y
# CONFIG_MTK_CHIP_MT7981 is not set
CONFIG_PACKAGE_wifi-dats=y
CONFIG_first_card=y
CONFIG_first_card_name="MT7916"
CONFIG_PACKAGE_wifi-profile=y
CONFIG_WIFI_NORMAL_SETTING=y
# CONFIG_WIFI_QUICK_SETTING is not set
# end of Drivers
# end of MTK Properties
