
CONFIG_PACKAGE_kmod-batman-adv=m
CONFIG_PACKAGE_kmod-lib-842=m
CONFIG_PACKAGE_kmod-lib-cordic=m
CONFIG_PACKAGE_kmod-lib-crc-ccitt=m
CONFIG_PACKAGE_kmod-lib-crc7=m
CONFIG_PACKAGE_kmod-lib-crc8=m
CONFIG_PACKAGE_kmod-lib-lz4=m
CONFIG_PACKAGE_kmod-lib-lz4-decompress=m
CONFIG_PACKAGE_kmod-lib-lz4hc=m
CONFIG_PACKAGE_kmod-lib-objagg=m
CONFIG_PACKAGE_kmod-lib-parman=m
CONFIG_PACKAGE_kmod-lib-textsearch=m
CONFIG_PACKAGE_kmod-nls-cp936=m
CONFIG_PACKAGE_kmod-ipt-account=m
CONFIG_PACKAGE_kmod-ipt-asn=m
CONFIG_PACKAGE_kmod-ipt-chaos=m
CONFIG_PACKAGE_kmod-ipt-checksum=m
CONFIG_PACKAGE_kmod-ipt-cluster=m
CONFIG_PACKAGE_kmod-ipt-compat-xtables=m
CONFIG_PACKAGE_kmod-ipt-condition=m
CONFIG_PACKAGE_kmod-ipt-conntrack-label=m
CONFIG_PACKAGE_kmod-ipt-coova=m
CONFIG_PACKAGE_kmod-ipt-debug=m
CONFIG_PACKAGE_kmod-ipt-delude=m
CONFIG_PACKAGE_kmod-ipt-dhcpmac=m
CONFIG_PACKAGE_kmod-ipt-dnetmap=m
CONFIG_PACKAGE_kmod-ipt-extra=m
CONFIG_PACKAGE_kmod-ipt-filter=m
CONFIG_PACKAGE_kmod-ipt-fuzzy=m
CONFIG_PACKAGE_kmod-ipt-geoip=m
CONFIG_PACKAGE_kmod-ipt-hashlimit=m
CONFIG_PACKAGE_kmod-ipt-iface=m
CONFIG_PACKAGE_kmod-ipt-ipmark=m
CONFIG_PACKAGE_kmod-ipt-ipopt=m
CONFIG_PACKAGE_kmod-ipt-ipp2p=m
CONFIG_PACKAGE_kmod-ipt-iprange=m
CONFIG_PACKAGE_kmod-ipt-ipsec=m
CONFIG_PACKAGE_kmod-ipt-ipset=m
CONFIG_PACKAGE_kmod-ipt-ipv4options=m
CONFIG_PACKAGE_kmod-ipt-led=m
CONFIG_PACKAGE_kmod-ipt-length2=m
CONFIG_PACKAGE_kmod-ipt-logmark=m
CONFIG_PACKAGE_kmod-ipt-lscan=m
CONFIG_PACKAGE_kmod-ipt-lua=m
CONFIG_PACKAGE_kmod-ipt-nat-extra=m
CONFIG_PACKAGE_kmod-ipt-nat6=m
CONFIG_PACKAGE_kmod-ipt-nathelper-rtsp=m
CONFIG_PACKAGE_kmod-ipt-nflog=m
CONFIG_PACKAGE_kmod-ipt-nfqueue=m
CONFIG_PACKAGE_kmod-ipt-offload=m
CONFIG_PACKAGE_kmod-ipt-physdev=m
CONFIG_PACKAGE_kmod-ipt-proto=m
CONFIG_PACKAGE_kmod-ipt-psd=m
CONFIG_PACKAGE_kmod-ipt-quota2=m
CONFIG_PACKAGE_kmod-ipt-raw=m
CONFIG_PACKAGE_kmod-ipt-raw6=m
CONFIG_PACKAGE_kmod-ipt-rpfilter=m
CONFIG_PACKAGE_kmod-ipt-rtpengine=m
CONFIG_PACKAGE_kmod-ipt-socket=m
CONFIG_PACKAGE_kmod-ipt-sysrq=m
CONFIG_PACKAGE_kmod-ipt-tarpit=m
CONFIG_PACKAGE_kmod-ipt-tee=m
CONFIG_PACKAGE_kmod-ipt-tproxy=m
CONFIG_PACKAGE_kmod-ipt-u32=m
CONFIG_PACKAGE_kmod-netatop=m
CONFIG_PACKAGE_kmod-nf-conntrack-netlink=m
CONFIG_PACKAGE_kmod-nf-dup-inet=m
CONFIG_PACKAGE_kmod-nf-flow=m
CONFIG_PACKAGE_kmod-nf-ipvs=m
CONFIG_PACKAGE_kmod-nf-ipvs-ftp=m
CONFIG_PACKAGE_kmod-nf-ipvs-sip=m
CONFIG_PACKAGE_kmod-nf-nathelper=m
CONFIG_PACKAGE_kmod-nf-nathelper-extra=m
CONFIG_PACKAGE_kmod-nf-tproxy=m
CONFIG_PACKAGE_kmod-nfnetlink-cthelper=m
CONFIG_PACKAGE_kmod-nfnetlink-cttimeout=m
CONFIG_PACKAGE_kmod-nfnetlink-log=m
CONFIG_PACKAGE_kmod-nfnetlink-queue=m
CONFIG_PACKAGE_kmod-nft-arp=m
CONFIG_PACKAGE_kmod-nft-bridge=m
CONFIG_PACKAGE_kmod-nft-compat=m
CONFIG_PACKAGE_kmod-nft-connlimit=m
CONFIG_PACKAGE_kmod-nft-dup-inet=m
CONFIG_PACKAGE_kmod-nft-fib=m
CONFIG_PACKAGE_kmod-nft-nat=m
CONFIG_PACKAGE_kmod-nft-netdev=m
CONFIG_PACKAGE_kmod-nft-offload=m
CONFIG_PACKAGE_kmod-nft-queue=m
CONFIG_PACKAGE_kmod-nft-tproxy=m
CONFIG_PACKAGE_kmod-nft-xfrm=m


CONFIG_PACKAGE_kmod-mt76-usb=m
CONFIG_PACKAGE_kmod-mt7663-usb-sdio=m
CONFIG_PACKAGE_kmod-mt76x02-usb=m
CONFIG_PACKAGE_kmod-mt792x-usb=m
CONFIG_PACKAGE_kmod-rsi91x-usb=m
CONFIG_PACKAGE_kmod-rt2800-usb=m
CONFIG_PACKAGE_kmod-rt2x00-usb=m
CONFIG_PACKAGE_kmod-rt73-usb=m
CONFIG_PACKAGE_kmod-rtlwifi-usb=m
CONFIG_PACKAGE_kmod-rtw88-usb=m


CONFIG_PACKAGE_kmod-rtlwifi-usb=m
CONFIG_PACKAGE_kmod-rtw88=m
CONFIG_PACKAGE_kmod-rtw88-8723d=m
CONFIG_PACKAGE_kmod-rtw88-8723de=m
CONFIG_PACKAGE_kmod-rtw88-8723ds=m
CONFIG_PACKAGE_kmod-rtw88-8723du=m
CONFIG_PACKAGE_kmod-rtw88-8723x=m
CONFIG_PACKAGE_kmod-rtw88-8812a=m
CONFIG_PACKAGE_kmod-rtw88-8812au=m
CONFIG_PACKAGE_kmod-rtw88-8821a=m
CONFIG_PACKAGE_kmod-rtw88-8821au=m
CONFIG_PACKAGE_kmod-rtw88-8821c=m
CONFIG_PACKAGE_kmod-rtw88-8821ce=m
CONFIG_PACKAGE_kmod-rtw88-8821cu=m
CONFIG_PACKAGE_kmod-rtw88-8822b=m
CONFIG_PACKAGE_kmod-rtw88-8822be=m
CONFIG_PACKAGE_kmod-rtw88-8822bu=m
CONFIG_PACKAGE_kmod-rtw88-8822c=m
CONFIG_PACKAGE_kmod-rtw88-8822ce=m
CONFIG_PACKAGE_kmod-rtw88-8822cu=m
CONFIG_PACKAGE_kmod-rtw88-88xxa=m
CONFIG_PACKAGE_kmod-rtw88-pci=m
CONFIG_PACKAGE_kmod-rtw88-sdio=m
CONFIG_PACKAGE_kmod-rtw88-usb=m
CONFIG_PACKAGE_kmod-rtw89=m
CONFIG_PACKAGE_kmod-rtw89-8851be=m
CONFIG_PACKAGE_kmod-rtw89-8852ae=m
CONFIG_PACKAGE_kmod-rtw89-8852b-common=m
CONFIG_PACKAGE_kmod-rtw89-8852be=m
CONFIG_PACKAGE_kmod-rtw89-8852ce=m
CONFIG_PACKAGE_kmod-rtw89-8922ae=m
CONFIG_PACKAGE_kmod-rtw89-pci=m

CONFIG_PACKAGE_kmod-rtl8192c-common=m
CONFIG_PACKAGE_kmod-rtl8192ce=m
CONFIG_PACKAGE_kmod-rtl8192cu=m
CONFIG_PACKAGE_kmod-rtl8192d-common=m
CONFIG_PACKAGE_kmod-rtl8192de=m
CONFIG_PACKAGE_kmod-rtl8192du=m
CONFIG_PACKAGE_kmod-rtl8192se=m
CONFIG_PACKAGE_kmod-rtl8723-common=m
CONFIG_PACKAGE_kmod-rtl8723be=m
CONFIG_PACKAGE_kmod-rtl8723bs=m
# CONFIG_PACKAGE_kmod-rtl8812au-ct is not set
CONFIG_PACKAGE_kmod-rtl8821ae=m
CONFIG_PACKAGE_kmod-rtl8xxxu=m


CONFIG_PACKAGE_kmod-crypto-authenc=m
CONFIG_PACKAGE_kmod-crypto-lib-chacha20poly1305=m
CONFIG_PACKAGE_kmod-wwan=m
CONFIG_PACKAGE_kmod-wireguard=m
CONFIG_PACKAGE_kmod-nvme=m
CONFIG_PACKAGE_kmod-scsi-core=m
CONFIG_PACKAGE_kmod-openvswitch=m
CONFIG_PACKAGE_kmod-nft-socket=m
CONFIG_PACKAGE_kmod-inet-diag=m
CONFIG_PACKAGE_kmod-br-netfilter=m
CONFIG_PACKAGE_kmod-ebtables=m
CONFIG_PACKAGE_kmod-ebtables-ipv4=m
CONFIG_PACKAGE_kmod-ebtables-ipv6=m
CONFIG_PACKAGE_kmod-ebtables-watchers=m
CONFIG_PACKAGE_kmod-ip6tables-extra=m

CONFIG_PACKAGE_kmod-dm=m
CONFIG_PACKAGE_kmod-dm-raid=m
CONFIG_PACKAGE_kmod-ovpn-dco-v2=m

CONFIG_PACKAGE_kmod-vrf=m
CONFIG_PACKAGE_kmod-bonding=m
CONFIG_PACKAGE_kmod-ptp=m

CONFIG_PACKAGE_kmod-iscsi-initiator=m
CONFIG_PACKAGE_kmod-loop=m
CONFIG_PACKAGE_kmod-crypto-chacha20poly1305=m
CONFIG_PACKAGE_kmod-crypto-deflate=m
CONFIG_PACKAGE_kmod-crypto-echainiv=m
CONFIG_PACKAGE_kmod-crypto-engine=m
CONFIG_PACKAGE_kmod-crypto-md4=m
CONFIG_PACKAGE_kmod-crypto-rsa=m
CONFIG_PACKAGE_kmod-cryptodev=m
CONFIG_PACKAGE_kmod-input-gpio-keys=m
CONFIG_PACKAGE_kmod-atm=m
# CONFIG_PACKAGE_kmod-atmtcp is not set
CONFIG_PACKAGE_kmod-geneve=m
CONFIG_PACKAGE_kmod-gre=m
CONFIG_PACKAGE_kmod-inet-mptcp-diag=m
# CONFIG_PACKAGE_kmod-ip-vti is not set
CONFIG_PACKAGE_kmod-ip6-tunnel=m
# CONFIG_PACKAGE_kmod-ip6-vti is not set
CONFIG_PACKAGE_kmod-ipip=m
# CONFIG_PACKAGE_kmod-ipoa is not set
CONFIG_PACKAGE_kmod-ipsec=m
CONFIG_PACKAGE_kmod-ipsec4=m
CONFIG_PACKAGE_kmod-ipsec6=m
CONFIG_PACKAGE_kmod-iptunnel4=m
CONFIG_PACKAGE_kmod-iptunnel6=m
CONFIG_PACKAGE_kmod-l2tp=m
CONFIG_PACKAGE_kmod-l2tp-eth=m
CONFIG_PACKAGE_kmod-l2tp-ip=m
CONFIG_PACKAGE_kmod-netlink-diag=m
CONFIG_PACKAGE_kmod-nlmon=m
CONFIG_PACKAGE_kmod-openvswitch-geneve=m
CONFIG_PACKAGE_kmod-openvswitch-gre=m
CONFIG_PACKAGE_kmod-openvswitch-vxlan=m
CONFIG_PACKAGE_kmod-pf-ring=m
CONFIG_PACKAGE_kmod-pktgen=m
CONFIG_PACKAGE_kmod-pppoa=m
CONFIG_PACKAGE_kmod-pppol2tp=m
CONFIG_PACKAGE_kmod-pptp=m
CONFIG_PACKAGE_kmod-sched=m
CONFIG_PACKAGE_kmod-sched-act-ipt=m
CONFIG_PACKAGE_kmod-sched-act-police=m
CONFIG_PACKAGE_kmod-sched-act-sample=m
CONFIG_PACKAGE_kmod-sched-act-vlan=m
CONFIG_PACKAGE_kmod-sched-bpf=m
CONFIG_PACKAGE_kmod-sched-cake=m
CONFIG_PACKAGE_kmod-sched-connmark=m
CONFIG_PACKAGE_kmod-sched-core=m
CONFIG_PACKAGE_kmod-sched-ctinfo=m
CONFIG_PACKAGE_kmod-sched-drr=m
CONFIG_PACKAGE_kmod-sched-flower=m
CONFIG_PACKAGE_kmod-sched-fq-pie=m
CONFIG_PACKAGE_kmod-sched-ipset=m
CONFIG_PACKAGE_kmod-sched-mqprio=m
CONFIG_PACKAGE_kmod-sched-mqprio-common=m
CONFIG_PACKAGE_kmod-sched-pie=m
CONFIG_PACKAGE_kmod-sched-prio=m
CONFIG_PACKAGE_kmod-sched-red=m
CONFIG_PACKAGE_kmod-sched-skbprio=m
CONFIG_PACKAGE_kmod-sctp=m
CONFIG_PACKAGE_kmod-sctp-diag=m
CONFIG_PACKAGE_kmod-sit=m
CONFIG_PACKAGE_kmod-slip=m
CONFIG_PACKAGE_kmod-tcp-bbr=m
CONFIG_PACKAGE_kmod-tcp-hybla=m
CONFIG_PACKAGE_kmod-tcp-scalable=m
CONFIG_PACKAGE_kmod-tls=m
CONFIG_PACKAGE_kmod-trelay=m
CONFIG_PACKAGE_kmod-veth=m
CONFIG_PACKAGE_kmod-vxlan=m
CONFIG_PACKAGE_kmod-xfrm-interface=m
CONFIG_PACKAGE_kmod-mmc-spi=m
CONFIG_PACKAGE_kmod-spi-bitbang=m
CONFIG_PACKAGE_kmod-spi-dev=m
CONFIG_PACKAGE_kmod-spi-dw=m
CONFIG_PACKAGE_kmod-spi-dw-mmio=m
CONFIG_PACKAGE_kmod-spi-gpio=m
CONFIG_PACKAGE_kmod-vhost=m
CONFIG_PACKAGE_kmod-vhost-net=m
# CONFIG_PACKAGE_luci-proto-vti is not set
# CONFIG_PACKAGE_luci-proto-xfrm is not set
# CONFIG_PACKAGE_vti is not set
# CONFIG_PACKAGE_xfrm is not set
